body{
    margin: 0px;
    height: 700px;
    background-image: url(../NewTab/background.png);
    background-size: cover;
    background-position: 44% 0;
    
    font-family: 'Fira Code';
}

form i{
    position: absolute;
    margin-left: -30px;
    margin-top: 17px;
    cursor: pointer;
}

footer{
    opacity: 80%;
    font-family: 'Roboto';
    font-size: 12px;
}

hr{
    opacity: 20%;
    border: 1px solid grey;
    border-radius: 1px;
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}
.modal_container{
    background-color: #fefefe;
    margin: 8% auto 8% auto; /* top, right, bottom, left */
    padding: 30px; /* top, right, bottom, left */
    border: 0px solid #888;
    border-radius: 16px;
    width: 50%;
    text-align: center;
}

form a{
    color: blue;
}

a{
    text-decoration: none;
    color: #000;
}

.footer_container a{
    color: blue;
}

input[type=email], input[type=password] {
    width: 40%;
    padding: 14px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: none;
    border-radius: 40px;
    background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form_header{
    margin-top: -15px;
}

.form_check{
    padding-top: 14px;
    padding-bottom: 4px;
}

.header_container{
    margin-left: 30%; /* margins to center the header*/
    padding-bottom: 15px;
    
    font-size: 10px;

    display: flex;
    align-items:center;

    top: 0;
    width: 60%;
}

.logo_box{
    margin:auto;
    width: fit-content;
    height: 38px;

    display: flex;
    align-items:center; /* vertical align*/
}

.logo_box img{
    margin: 8px 0px 0px 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

#web_app_name{
    margin: 8px 0px 0px 5px;
    padding: 0px;
    font-size: 25px;
    font-family: 'Fira Code';
    font-weight: bold;
}

button{
    background-color: #04AA6D;
    color: whitesmoke;
    padding: 14px;
    margin: 8px 0px;
    border: none;
    border-radius: 40px;
    opacity: 0.9;
    width: 45%;
}

button:hover{
    opacity: 1;
}

.cancel_button{
    background-color: #f44336;
}

.hr_container{
    opacity: 50%;
    width: 44%;
    margin-left: 28%;
}

.hr_seperator{
    display: flex;
    text-align: center;
    align-items: center;
}
.hr_seperator::before,
.hr_seperator::after{
        content: '';
        flex: 1;
        border-bottom: 1px solid grey;
}
.hr_seperator:not(:empty)::before{
    margin-right: .25em;
}
.hr_seperator:not(:empty)::after{
    margin-left: .25em;
}

.symbols{
    font-size: 30px;
    color: rgb(255, 175, 1);
}

.back_link{
    margin-top: -10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 300px) {

    .modal{
        padding-top: 10%;
    }

    .modal_container{
        width: 80%;
    }

    input{
        width: 100%;
    }
}

/* iPad */
@media screen and (max-width: 768px) {

    .modal{
        padding-top: 10%;
    }

    .modal_container{
        width: 60%;
    }

    .header_container{
        margin-left: 22%;
    }

    .logo_box{
        flex-direction: row;
    }

    .form_check{
        margin-left: 70px;
    }

    input{
        width: 80%;
    }
}